/* Coolors Exported Palette - https://coolors.co/ed6b5a-8b6dea-131313-92fb8f-f7505f-17e1ef-dd9d56 */

/* CSS HEX */
--terra-cotta: #ED6B5Aff;
--medium-purple: #8B6DEAff;
--eerie-black: #131313ff;
--mint-green: #92FB8Fff;
--sizzling-red: #F7505Fff;
--dark-turquoise: #17E1EFff;
--earth-yellow: #DD9D56ff;

/* CSS HSL */
--terra-cotta: hsla(7, 80%, 64%, 1);
--medium-purple: hsla(254, 75%, 67%, 1);
--eerie-black: hsla(0, 0%, 7%, 1);
--mint-green: hsla(118, 93%, 77%, 1);
--sizzling-red: hsla(355, 91%, 64%, 1);
--dark-turquoise: hsla(184, 87%, 51%, 1);
--earth-yellow: hsla(32, 67%, 60%, 1);

/* SCSS HEX */
$terra-cotta: #ED6B5Aff;
$medium-purple: #8B6DEAff;
$eerie-black: #131313ff;
$mint-green: #92FB8Fff;
$sizzling-red: #F7505Fff;
$dark-turquoise: #17E1EFff;
$earth-yellow: #DD9D56ff;

/* SCSS HSL */
$terra-cotta: hsla(7, 80%, 64%, 1);
$medium-purple: hsla(254, 75%, 67%, 1);
$eerie-black: hsla(0, 0%, 7%, 1);
$mint-green: hsla(118, 93%, 77%, 1);
$sizzling-red: hsla(355, 91%, 64%, 1);
$dark-turquoise: hsla(184, 87%, 51%, 1);
$earth-yellow: hsla(32, 67%, 60%, 1);

/* SCSS RGB */
$terra-cotta: rgba(237, 107, 90, 1);
$medium-purple: rgba(139, 109, 234, 1);
$eerie-black: rgba(19, 19, 19, 1);
$mint-green: rgba(146, 251, 143, 1);
$sizzling-red: rgba(247, 80, 95, 1);
$dark-turquoise: rgba(23, 225, 239, 1);
$earth-yellow: rgba(221, 157, 86, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ED6B5Aff, #8B6DEAff, #131313ff, #92FB8Fff, #F7505Fff, #17E1EFff, #DD9D56ff);
$gradient-right: linear-gradient(90deg, #ED6B5Aff, #8B6DEAff, #131313ff, #92FB8Fff, #F7505Fff, #17E1EFff, #DD9D56ff);
$gradient-bottom: linear-gradient(180deg, #ED6B5Aff, #8B6DEAff, #131313ff, #92FB8Fff, #F7505Fff, #17E1EFff, #DD9D56ff);
$gradient-left: linear-gradient(270deg, #ED6B5Aff, #8B6DEAff, #131313ff, #92FB8Fff, #F7505Fff, #17E1EFff, #DD9D56ff);
$gradient-top-right: linear-gradient(45deg, #ED6B5Aff, #8B6DEAff, #131313ff, #92FB8Fff, #F7505Fff, #17E1EFff, #DD9D56ff);
$gradient-bottom-right: linear-gradient(135deg, #ED6B5Aff, #8B6DEAff, #131313ff, #92FB8Fff, #F7505Fff, #17E1EFff, #DD9D56ff);
$gradient-top-left: linear-gradient(225deg, #ED6B5Aff, #8B6DEAff, #131313ff, #92FB8Fff, #F7505Fff, #17E1EFff, #DD9D56ff);
$gradient-bottom-left: linear-gradient(315deg, #ED6B5Aff, #8B6DEAff, #131313ff, #92FB8Fff, #F7505Fff, #17E1EFff, #DD9D56ff);
$gradient-radial: radial-gradient(#ED6B5Aff, #8B6DEAff, #131313ff, #92FB8Fff, #F7505Fff, #17E1EFff, #DD9D56ff);